body,
main {
    background-color: #f7f7fa;
    position: relative;
}
header {
    display: flex;
    align-items: center;
    width: 100vw;
    margin: auto;
    justify-content: center;
    position: fixed;
    z-index: 1;
    background-color: #fff;
    border-bottom: #f7f7fa;
    -webkit-box-shadow: 0px 8px 24px rgb(13 13 18 / 4%);
    box-shadow: 0px 8px 24px rgb(13 13 18 / 4%);
}
.header_container {
    width: 35vw;
    min-width: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sport_container {
    width: 80vw;
    margin: auto;
    padding-top: 100px;
    display: flex;
}
a {
    text-decoration: none;
    color: black;
}

.cards_container,
.competition_container {
    height: 800px;
    position: sticky;
    top: 0;
}
.user_card,
.process_card {
    position: relative;
    width: 300px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    padding-top: 50px;

    background-color: #fff;
    -webkit-box-shadow: 0px 8px 24px rgb(13 13 18 / 4%);
    box-shadow: 0px 8px 24px rgb(13 13 18 / 4%);
    border-radius: 4px;
}
.user_card-user-name {
    font-size: 20px;
    font-weight: bold;
}
.user-image {
    position: absolute;
    top: 0;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.user_card-info {
    width: 300px;
}
.user_card-info-item {
    font-weight: bold;
}
.user_card-info-lastTraining,
.training_log-container {
    margin-left: 7px;
}
.table {
    font-size: 15px;
}
hr {
    display: block;
    unicode-bidi: isolate;
    -webkit-margin-before: 0.5em;
    -webkit-margin-after: 0.5em;
    -webkit-margin-start: auto;
    -webkit-margin-end: auto;
    overflow: hidden;
    border-style: inset;
    border-width: 1px;
}
.goal_process-container {
    width: 100%;
    height: 50px;
    border: 1px solid rgb(199, 199, 199);
    text-align: center;
    align-items: center;
    font-size: 30px;
    border-radius: 15px 0 0 15px;
}
.goal_process {
    height: 100%;
    background-color: rgb(127, 255, 170);
    width: 80%;
    border-radius: 15px 0 0 15px;
}
.goal_process-residue {
    font-size: 1.1rem;
    font-weight: bold;
}
.training_log-container {
    text-align: start;
    padding-top: 10px;
    padding-bottom: 20px;
}
.training_log-link {
    width: 100%;
    padding-left: 3%;
}
/* .training_log-link:hover {
    color: black;
} */
.training_log-link-arrow {
    margin-left: 27%;
}

.process_card {
    padding-top: 0;
    margin-top: 30px;
}
.process_card-inset {
    display: flex;
    justify-content: space-between;
    background-color: #f7f7fa;
}
.process_card-inset-item,
.process_card-inset-item-active {
    width: 33%;
    padding-top: 10px;
    padding-bottom: 10px;
}
.process_card-inset-item {
    background-color: #f7f7fa;
}
.process_card-inset-item:hover {
    background-color: #fff;
    cursor: pointer;
}
.process_card-inset-item-active {
    background-color: #fff;
}
.week_process,
.year_process {
    padding-top: 15px;
    font-size: 12px;
}
.week_process-data {
    display: flex;
    align-items: center;
    width: 90%;
    margin: auto;
    justify-content: space-between;
}
.vert_line {
    height: 25px;
    border-left: 1px solid rgb(214, 211, 211);
    height: 40px;
    position: absolute;
    left: 50%;
    margin-left: -3px;
    top: 105px;
}
.week_process-value,
.year_process-value {
    font-size: 30px;
    font-weight: bold;
    color: #79d7bd;
}
.week_process-timing {
    padding-right: 15px;
    font-size: 25px;
}
.training_list-container {
    position: relative;
    width: 800px;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-left: 50px;
}
.training_list-item {
    width: 100%;
    background-color: #fff;
    padding-top: 25px;
    padding-bottom: 40px;
    margin-bottom: 15px;

    -webkit-box-shadow: 0px 8px 24px rgb(13 13 18 / 4%);
    box-shadow: 0px 8px 24px rgb(13 13 18 / 4%);
    border-radius: 4px;
}
.training_list-item-header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 92px;
}
.training_info-header {
    display: flex;
}
.training_icon {
    margin-right: 30px;
}
.training_table {
    width: 500px;
}
.training_table-item-tbody {
    font-weight: bold;
    font-size: 22px;
}

.training_image {
    width: 600px;
    height: 400px;
    border: 1px solid gray;
    margin: auto;
}

.competition_container {
    width: 300px;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-left: 50px;
    background-color: #fff;

    -webkit-box-shadow: 0px 8px 24px rgb(13 13 18 / 4%);
    box-shadow: 0px 8px 24px rgb(13 13 18 / 4%);
    border-radius: 4px;
}
.competition_header-text {
    padding-top: 25px;
}
.competition_past,
.competition_future {
    width: 100%;
    display: flex;
    flex-direction: column;
    border-top: 1px solid rgb(214, 211, 211);
    margin-top: 10px;
    padding-top: 10px;
}
.competition_past-items-viewAll {
    text-align: end;
    font-size: 12px;
    padding-right: 15px;
    padding-bottom: 5px;
    color: #007fb6;
}
.competition_past-items,
.competition_future-items {
    display: flex;
    width: 90%;
    margin: auto;
    justify-content: space-between;
}
.competition_future-items {
    flex-direction: column;
}
.competition_past-item-image,
.competition_future-item-image {
    width: 70px;
    height: 70px;
    border: 1px solid black;
}
.competition_future-item:first-child {
    margin-top: 10px;
}
.competition_future-item {
    margin-bottom: 20px;
    display: flex;
}
.competition_future-item-description {
    margin-left: 20px;
}
.competition_future-item-name {
    font-weight: bold;
    margin-bottom: 0;
}
.competition_future-item-date {
    font-size: 10px;
    text-align: start;
    margin-bottom: 7px;
}
.competition_future-item-distance {
    text-align: start;
    margin-bottom: 0;
}

.competition_past-item {
    width: 70px;
}
.competition_past-item-name {
    font-size: 12px;
    color: #007fb6;
    display: block;
    margin-top: 5px;
    line-height: 1.1em;
    word-wrap: break-word;
}
.competition_past-item-date {
    font-size: 10px;
    margin: 0;
}
.img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.newtraining_btn {
    width: 35%;
    margin-left: 8px;
}
.form-select {
    width: 35%;
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
}
